* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 45, 82, 0.8);
    color: white;
    padding: 10px 20px;
}

.header-text {
    height: 75px;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 2px solid #0F2D52;
    border-radius: 4px;
    font-size: 1rem;
}

.login-box input[type="submit"] {
    width: 100%;
    background-color: #0F2D52;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-box input[type="submit"]:hover {
    background-color: #DAA900;
}

.login-box a {
    display: inline-block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    background-color: #0F2D52;
    transition: background-color 0.3s;
}

.login-box a:hover {
    background-color: #DAA900;
}